ul.menu {
  display: table;
  margin: 0;
}
ul.menu:before {
  clear: both;
}
ul.menu:after {
  clear: both;
}
ul.menu li.leaf {
  padding-top: 0;
}

#block-system-user-menu {
  float: right;
  padding: 0 15px;
}
#block-system-user-menu a {
  font-family: 'Roboto';
  font-size: 0.875rem;
  font-weight: 200;
  color: #666;
}

body.logged-in #block-system-user-menu ul.menu > li.leaf {
  float: left;
}
body.logged-in #block-system-user-menu ul.menu > li.leaf:first-child a:before {
  content: '\e9f3';
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'xeicon';
  color: #666;
}
body.logged-in #block-system-user-menu ul.menu > li.leaf:nth-child(2) a:before {
  content: '\e972';
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'xeicon';
  color: #666;
}

#block-system-main-menu {
  float: right;
  padding: 15px;
}
#block-system-main-menu ul.menu > li.leaf {
  float: left;
}
#block-system-main-menu ul.menu > li.leaf a {
  font-family: 'Roboto';
  font-size: 1.25rem;
  font-weight: 200;
  color: #fff;
}
#block-system-main-menu ul.menu > li.leaf:first-child a:before {
  content: '\e900';
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'xeicon';
}
#block-system-main-menu ul.menu > li.leaf:nth-child(2) a:before {
  content: '\e9a0';
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'xeicon';
}
#block-system-main-menu ul.menu > li.leaf:nth-child(3) a:before {
  content: '\ea34';
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'xeicon';
  color: #fff;
}
#block-system-main-menu ul.menu > li.leaf a {
  padding: 5px 15px;
  color: #fff;
}

nav.menu--skills > ul.menu > li.menu-item {
  margin-bottom: 20px;
}
nav.menu--skills > ul.menu > li.menu-item.menu-item--expanded {
  list-style-image: none;
}
nav.menu--skills > ul.menu > li.menu-item.menu-item--expanded > ul.menu {
  margin-left: 15px;
}
nav.menu--skills > ul.menu > li.menu-item.menu-item--expanded > ul.menu > li.menu-item {
  margin-bottom: 5px;
}
nav.menu--skills > ul.menu > li.menu-item.menu-item--expanded > ul.menu > li.menu-item a {
  font-family: 'Roboto';
  font-size: 1.25rem;
  font-weight: 200;
}
nav.menu--skills > ul.menu a {
  font-family: 'Roboto';
  font-size: 1.618rem;
  font-weight: 200;
}

#block-toggler-for-sidebar {
  float: left;
}
